//forms, buttons, dialogs etc.

// menu header and portfolio
.horizontal-menu {
	&:extend(.ul-unstyled);
	

	li {
		display: inline-block;
		margin-left:15px;

		a {
			transition: 3s;
			display: block;
			border:2px solid transparent;
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 17px;
			line-height: 1;

			&.active{
				border-color:@accent;
				color:@accent;
			}
			&:hover{
				color:@accent;
			}
		}
	} //li

	&.black-font a {
	color:@overlay;
	}
}

//RESPON MENU HEADEAR

.main-nav-trigger {
	display: none;
	font-size:40px;
	color: #fff;
	float: right;
	line-height: 1;
	cursor: pointer;
	transition: color .3s ease-in-out;
	&:hover{
		color:@accent;

	};
}

@media (max-width: 992px) {
	.main-nav-trigger {
		display: block;
	}
	.main-logo {
		float: left;
	}

	.site-nav {
		position: relative;
	}

	.site-nav .horizontal-menu {
		display: none;
		position: absolute;
		top: 100%;
		left:0;
		width: 100%;
		background-color: @overlay;
		

		li{
			width: 100%;
			display: block;
			margin-left: 0;
			text-align: center;
			border-bottom: 1px solid @accent;
		}

		a {
			display: inline-block;
			padding: 10px;

			&.active {
				border-color: transparent;
			}
		}
	}
} 

// RESPOND MENU PORTFOLIO

.main-nav-port {
	display: none;
	font-size:40px;
	color: #000;
	float: right;
	line-height: 1;
	cursor: pointer;
	transition: color .3s ease-in-out;
	&:hover{
		color:@accent;

	};
}

@media (max-width: 992px) {
	.main-nav-port {
		display: block;

	}

	.site-nav-port {
		position: relative;
	}

	.site-nav-port .horizontal-menu {
		display: none;
	
		top: 200%;
		left:0;
		width: 100%;
		background-color: @overlay;
		

		li{
			width: 100%;
			display: block;
			margin-left: 0;
			text-align: center;
			border-bottom: 1px solid @accent;
			color:#fff;
		}

		a {
			display: inline-block;
			padding: 10px;
			color:#fff;

			&.active {
				border-color: transparent;
			}
		}
	}
} 



//FORM-CONTROL

.frm-group {
	margin-bottom: 35px;


}

.frm-control {
	background-color: transparent;
	border: 2px solid #fff;
	height: 60px;
	width: 100%;
	padding: 0 15px;
}

textarea.frm-control {
	height: 215px;
}

label{
	display: block;
	text-transform: uppercase;
	font-weight: 600;
}

.btn-submit {
	width:100%;
	background-color: @section;
	border:none;
	text-transform: uppercase;
	line-height: 1;
	padding:20px 0;
	font-weight: 600;
	border:2px solid @section;
	transition: all .3s ease-in-out;

	&:hover{
		background-color:transparent;
		color:#000;
	}
}